<style type="text/css">
  @font-face{
    font-family: "PoiretOne-Regular";
    src: url(PoiretOne-Regular.ttf);
  }
  h1   {
    color:blue;
  }
  body {
    font-family: "PoiretOne-Regular";
    text-align: center;
    background-color:beige;
    background-image: url("paper_blur.jpg");
  }
  div.pre,div.post,div.user{display:inline;position: relative;right:200px;}
  div.tweets,div.head{float:right;display:inline-block;width:400px;text-align:left;}
  
  div.head   {
    color:blue; 
  }   
  div.post {
    width:500px;
    margin-left: auto;
    margin-right: auto;
  }

  div.pre {
  width:200px;
    font-size: 120%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    bottom: 20px;
    right: 430px;
  }
  div.user {
    width:200px;
    font-weight: bold;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
  }

 

  </style>