  @font-face {
    font-family: 'Momot';
    src: url('Mom.ttf ');
  }
  h1   {
    color:blue;
  }
  body {
    font-family: 'Momot';
    text-align: center;
    background-color:beige;
    background-image: url("paper_blur.jpg");
  }
  div.pre,div.post,div.user{
    width:300px;
    height:auto;
    position:relative;
  }
  div.combined{
/*    z-index: -1;*/
    /*bottom:400px;*/
    width:500px;
    float:right;
    text-align:left;
  }
  div.tweetsTime{
    opacity: 0.7;
  }
  div.head   {
    color:red; 
  }   
  div.post {
    margin-left: auto;
    margin-right: auto;
  }

  div.pre {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
  }
  div.user {

    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
  }

 div.user:hover{
    color:red;
 }
 form{
  width:400px;
  left: 360px;
  position: relative;
 }
 div.pre,div.post,div.user{
  right: 200px;
 }
 textarea {
    resize: none;
    font-family: inherit;
   font-size: inherit;
}
 textarea#message {
  width:190px;
  height:80px;
  
 }

